@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*====================================================*/
/* COLORS */
/*====================================================*/
/* STATE COLORS BUTTONS */
/*====================================================*/
/* BUTTON */
/*====================================================*/
button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 18px;
  background-color: transparent;
  text-transform: uppercase;
  outline: 0;
}
button.primary {
  color: #112433;
  border: solid 1px #112433;
}
button.secondary {
  color: #E1E9ED !important;
  border: solid 1px #E1E9ED;
}

button:active, button.active {
  background-color: #517A38;
  color: #E1E9ED;
}

button:hover {
  background-color: #3D692A;
  color: #E1E9ED;
}

button:disabled {
  background-color: #B9C9B0;
  color: #E1E9ED;
}

/*====================================================*/
/* FONT */
/*====================================================*/
h1, h2, h3, h4 {
  font-weight: bold;
}

h2, h3, h4, h5, h6, body p {
  padding-bottom: 16px;
}

h1 {
  font-size: 72px;
  font-family: "Arial";
  text-transform: uppercase;
  color: #112433;
}

h2 {
  font-size: 60px;
  font-family: "Arial";
}

h3 {
  font-size: 20px;
  font-family: "Arial";
}

h4 {
  font-size: 16px;
  font-family: "Arial";
  font-style: italic;
  padding-bottom: 18px;
}

h5 {
  font-size: 16px;
  font-family: "Arial";
}

h6 {
  font-size: 14px;
  font-family: "Arial";
}

/*====================================================*/
/* STATE COLORS BUTTONS */
/*====================================================*/
header {
  padding: 20px;
}
header .logo {
  float: left;
  padding: 20px;
}
header .title {
  width: 500px;
}
header .menu ul li {
  margin-right: 50px;
  display: inline-block;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

comments {
  display: block;
}

.comments .area-comments ul {
  margin-bottom: 16px;
}
.comments .area-comments ul li {
  display: inline-block;
  padding-right: 20px;
  color: #80878D;
  font-size: 12px;
}

.odd-comment .area-comments ul li {
  color: #112433 !important;
}

.even-comment {
  background-color: #7A3053 !important;
}
.even-comment .area-comments h1, .even-comment .area-comments h2, .even-comment .area-comments h3, .even-comment .area-comments h4, .even-comment .area-comments h5, .even-comment .area-comments h6 {
  color: #E1E9ED !important;
}
.even-comment .area-comments p {
  color: #E1E9ED !important;
}
.even-comment .area-comments ul li {
  color: #E1E9ED !important;
}
.even-comment .area-comments .commentsAdded {
  border-bottom: solid 1px #E1E9ED !important;
}

.comments .area-like div .like-odd, .comments .area-like div .dislike-odd, .comments .area-like div .like-even, .comments .area-like div .dislike-even {
  left: 20px;
  width: 33px;
  height: 35px;
  cursor: pointer;
}

.comments {
  padding: 20px 0;
}
.comments .area-like {
  display: inline-block;
  padding-right: 20px;
  text-align: right;
  width: 20%;
}
.comments .area-like div {
  float: right;
}
.comments .area-like div .number-like-even {
  color: #E1E9ED;
}
.comments .area-like div .number-like-odd, .comments .area-like div .number-like-even {
  padding: 10px;
}
.comments .area-like div .like-odd {
  background: url("../images/thumbs.jpg") 0 0;
}
.comments .area-like div .like-odd:hover {
  background: url("../images/thumbs.jpg") 35px 0;
}
.comments .area-like div .dislike-odd {
  background: url("../images/thumbs.jpg") 0 -33px;
}
.comments .area-like div .dislike-odd:hover {
  background: url("../images/thumbs.jpg") 35px -33px;
}
.comments .area-like div .like-even {
  background: url("../images/thumbs.jpg") 0 -68px;
}
.comments .area-like div .like-even:hover {
  background: url("../images/thumbs.jpg") 35px -68px;
}
.comments .area-like div .dislike-even {
  background: url("../images/thumbs.jpg") 0 -101px;
}
.comments .area-like div .dislike-even:hover {
  background: url("../images/thumbs.jpg") 35px -101px;
}
.comments .area-comments {
  display: inline-block;
  width: 66%;
  vertical-align: top;
}
.comments .area-comments .commentsAdded {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #112433;
}
.comments .area-comments .commentsAdded .buttonsCommentAction {
  text-align: right;
}

modal.show-modal {
  display: block;
}
modal.hide-modal {
  display: none;
}
modal .modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .modal-background */
  z-index: 1000;
  /* enables scrolling for tall modals */
  overflow: auto;
}
modal .modal .iconCloseModal {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 33px;
  height: 35px;
  cursor: pointer;
  background: url("../images/cross.jpg") 0 0;
}
modal .modal .iconCloseModal:hover {
  background: url("../images/cross.jpg") 34px 0;
}
modal .modal .title {
  border-bottom: solid 1px #7A3053;
  padding-bottom: 10px;
}
modal .modal form {
  padding-bottom: 10px;
}
modal .modal form label {
  font-size: 12px;
  display: block;
  padding-top: 20px;
}
modal .modal form input {
  padding: 10px;
  border: 0;
  border-bottom: solid 1px #7A3053;
  outline: 0;
  width: 100%;
}
modal .modal form textarea {
  border: 0;
  border-bottom: solid 1px #7A3053;
  outline: 0;
  width: 100%;
}
modal .modal form small {
  font-size: 11px;
}
modal .modal .modal-body {
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */
  margin: 40px;
}
modal .modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (max-width: 425px) {
  body header .logo, body header h1.title {
    display: block;
    width: 100%;
    text-align: center;
  }
  body header div.menu ul {
    text-align: center;
  }
  body header div.menu ul li {
    margin-right: 10px;
    text-align: center;
  }
  body .comments .area-like .like-odd,
  body .comments .area-like .dislike-odd,
  body .comments .area-like .like-even
  .dislike-even {
    margin: 0 10px !important;
  }
  body .comments .area-like .number-like-odd,
  body .comments .area-like .number-like-even {
    margin: 0 10px;
    text-align: center;
  }
  body footer p {
    padding: 5px !important;
    text-align: center !important;
  }
}
/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 768px) {
  header h1 {
    width: 300px;
  }
}
body {
  background-color: #E1E9ED;
  font-family: "Arial";
}
body p {
  font-size: 14px;
}
body .otherPages {
  background-color: #7A3053;
  padding: 20px;
  color: #E1E9ED;
}
body footer {
  width: 100%;
  background-color: #112433;
}
body footer p {
  padding: 5px 0 5px 250px;
  color: #E1E9ED;
}

/*# sourceMappingURL=main.css.map */
